<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About Us - Augmented Sociality</title>
    <link rel="stylesheet" href="styles/custom_styles.css">
    <link rel="stylesheet" href="styles/stylesheet.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/177f1bd199.js" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function() {

            // Check for click events on the navbar burger icon
            $(".navbar-burger").click(function() {

                // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                $(".navbar-burger").toggleClass("is-active");
                $(".navbar-menu").toggleClass("is-active");

            });
        });
    </script>
  </head>
  <body>
      <section class="section">
        <div class="container">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
              <a class="navbar-item" href="/">
                <img src="https://www.qut.edu.au/__data/assets/image/0007/909781/qut-logo-og-1200.jpg">
              </a>
          
              <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>
          
            <div id="navbarBasicExample" class="navbar-menu">
              <div class="navbar-start">
                <a class="navbar-item" href="/">
                  Home
                </a>
                <a class="navbar-item" href="/popular-projects">
                  Popular AR Technologies
                </a>
                <a class="navbar-item" href="/projects">
                  Projects
                </a>
                <a href="/news" class="navbar-item">
                    News
                </a>
                <!-- a href="/information" class="navbar-item">
                    Information
                </a -->
                <a href="/about-us" class="navbar-item">
                  About us
                </a>
                <a href="/contact-us" class="navbar-item">
                    Contact Us
                </a>
                
              </div>
          
              <div class="navbar-end">
                <div class="navbar-item">
                    <div class="field is-grouped">
                      <p class="control">
                        <a class="button-no-blue">
                          <span class="icon">
                            <i class="fab fa-twitter" aria-hidden="true"></i>
                          </span>
                        </a>
                      </p>
                      <p class="control">
                        <a class="button-no-blue">
                          <span class="icon">
                            <i class="fab fa-facebook-f" aria-hidden="true"></i>
                          </span>
                        </a>
                      </p>
                    </div>
                </div>
                <div class="navbar-item">
                  <% if (!session.loggedin) { %>
                    <div class="buttons">
                      <a class="button is-dark" href="/login">
                        <strong>Login</strong>
                      </a>
                    </div>
                  <% } else {%>
                    <p>Welcome back, <%= session.username %></p>
                  <% } %>
                </div>
              </div>
            </div>
          </nav>
          </div>
      </section>
      
      <section class="hero is-link is-bold">
        <div class="hero-body">
          <div class="container">
            <h1 class="title has-text-centered">
              About Us
            </h1>
            <h2 class="subtitle has-text-centered">
              Meet Our Staff
            </h2>
          </div>
        </div>
      </section>

      <section class="section">
        <div class="container">
          <div class="columns">
              <div class="column">
                  <div class="card">

                      <div class="card-content">
                        <div class="media">
                            <figure class="media-left">
                                <img src="https://staff.qut.edu.au/wp-content/uploads/avatars/2454/29770507d8279ccc21c6871c246dec71-bpfull.jpg" alt="Placeholder image">
                            </figure>
                          <div class="media-content">
                            <p class="title is-4">Alessandro Soro </p>
                            <p class="subtitle is-6">alessandro.soro@qut.edu.au</p>
                              <p>
                                  Senior Lecturer<br>
                                  Science and Engineering Faculty<br>
                                  School of Computer Science</p>
                          </div>
                        </div>
                      </div>
                    </div>
              </div>
              <div class="column">
                  <div class="card">

                      <div class="card-content">
                        <div class="media">
                            <figure class="media-left">
                                <img src="https://staff.qut.edu.au/wp-content/uploads/avatars/1230/16c209c41203f5294467dedfc4525b5e-bpfull.jpg" alt="Placeholder image">
                            </figure>

                          <div class="media-content">
                            <p class="title is-4">Ross Brown </p>
                            <p class="subtitle is-6">r.brown@qut.edu.au</p>
                              <p>
                                  Senior Lecturer<br>
                                  Science and Engineering Faculty<br>
                                  School of Computer Science</p>
                          </div>
                        </div>
                      </div>
                    </div>
              </div>
              <div class="column">
                  <div class="card">

                      <div class="card-content">
                        <div class="media">
                            <figure class="media-left">
                                <img src="https://staff.qut.edu.au/wp-content/uploads/avatars/3486/21c3678e5aec064775984180cfab99e9-bpfull.jpg" alt="Placeholder image">
                            </figure>
                          <div class="media-content">
                            <p class="title is-4">Selen Turkay </p>
                            <p class="subtitle is-6">selen.turkay@qut.edu.au</p>
                              <p>Lecturer in Computer Human Interaction<br>
                                  Science and Engineering<br>
                                  School of Computer Science</p>
                          </div>
                        </div>
                      </div>
                    </div>
              </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="card">

                        <div class="card-content">
                            <div class="media">
                                <figure class="media-left">
                                    <img src="https://staff.qut.edu.au/wp-content/uploads/avatars/1230/16c209c41203f5294467dedfc4525b5e-bpfull.jpg" alt="Placeholder image">
                                </figure>
                                <div class="media-content">
                                    <p class="title is-4">Aloha Ambe </p>
                                    <p class="subtitle is-6">sample.email@qut.edu.au</p>
                                    <p>Research Fellow<br>
                                      Science and Engineering Faculty<br>
                                      School of Computer Science</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="card">

                        <div class="card-content">
                            <div class="media">
                                <figure class="media-left">
                                    <img src="https://staff.qut.edu.au/wp-content/uploads/avatars/4098/5e8a8a082a62c-bpfull.jpg" alt="Placeholder image">
                                </figure>
                                <div class="media-content">
                                    <p class="title is-4">Joel Harman </p>
                                    <p class="subtitle is-6">ja.harman@qut.edu.au</p>
                                    <p>Research Fellow<br>
                                        Science and Engineering Faculty<br>
                                        School of Computer Science</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="card">

                        <div class="card-content">
                            <div class="media">
                                <figure class="media-left">
                                    <img src="https://staff.qut.edu.au/wp-content/uploads/avatars/139/540aee71c089bd8a9a6999ea66d10573-bpfull.jpg" alt="Placeholder image">
                                </figure>
                                <div class="media-content">
                                    <p class="title is-4">Michael Hunter</p>
                                    <p class="subtitle is-6">sample.email@qut.edu.au</p>
                                    <p>Research Fellow<br>
                                      Science and Engineering Faculty<br>
                                      School of Computer Science</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
      
      <footer class="footer">
        <div class="content has-text-centered">
          <p>
            <strong>Augmented Sociality</strong> for <strong>Joel Harman</strong> by <a href="/matrix-studio">Matrix Studio</a>
          </p>
        </div>
      </footer>
      
  </body>
</html>