<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About Us - Augmented Sociality</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" href="styles/stylesheet.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/177f1bd199.js" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function() {

            // Check for click events on the navbar burger icon
            $(".navbar-burger").click(function() {

                // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                $(".navbar-burger").toggleClass("is-active");
                $(".navbar-menu").toggleClass("is-active");

            });
        });
    </script>
  </head>
  <body>
      <section class="section">
        <div class="container">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
              <a class="navbar-item" href="https://bulma.io" href="/">
                <img src="https://www.qut.edu.au/__data/assets/image/0007/909781/qut-logo-og-1200.jpg">
              </a>
          
              <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>
          
            <div id="navbarBasicExample" class="navbar-menu">
              <div class="navbar-start">
                <a class="navbar-item" href="/">
                  Home
                </a>
                <a class="navbar-item" href="/projects">
                  Projects
                </a>
                <a href="/news" class="navbar-item">
                    News
                </a>
                <!-- a href="/information" class="navbar-item">
                    Information
                </a -->
                <a href="/about-us" class="navbar-item">
                  About us
                </a>
                <a href="/contact-us" class="navbar-item">
                    Contact Us
                </a>
                
              </div>
          
              <div class="navbar-end">
                <div class="navbar-item">
                    <div class="field is-grouped">
                      <p class="control">
                        <a class="button-no-blue">
                          <span class="icon">
                            <i class="fab fa-twitter" aria-hidden="true"></i>
                          </span>
                        </a>
                      </p>
                      <p class="control">
                        <a class="button-no-blue">
                          <span class="icon">
                            <i class="fab fa-facebook-f" aria-hidden="true"></i>
                          </span>
                        </a>
                      </p>
                    </div>
                </div>
                <div class="navbar-item">
                  <div class="buttons">
                    <a class="button is-link" href="/news">
                      <strong>Quick Look At The AR</strong>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </nav>
          </div>
      </section>
      
      <section class="hero is-primary is-bold">
        <div class="hero-body">
          <div class="container">
            <h1 class="title has-text-centered">
              About Us
            </h1>
            <h2 class="subtitle has-text-centered">
              Meet Our Staff
            </h2>
          </div>
        </div>
      </section>

      <section class="section">
          <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="card">
                        <div class="card-image">
                          <figure class="image is-square">
                            <img src="https://staff.qut.edu.au/wp-content/uploads/avatars/1230/16c209c41203f5294467dedfc4525b5e-bpfull.jpg" alt="Placeholder image">
                          </figure>
                        </div>
                        <div class="card-content">
                          <div class="media">
                            <div class="media-content">
                              <p class="title is-4">Dr. Ross Brown</p>
                              <p class="subtitle is-6">@DaseinScience</p>
                            </div>
                          </div>
                      
                          <div class="content">
                            I am a Senior Lecturer within the School of Electrical Engineering and Computer Science (EECS), QUT, where I am a member of the Computer Human Interaction (CHI) discipline.
                            </div>
                        </div>
                      </div>
                </div>
                <div class="column">
                    <div class="card">
                        <div class="card-image">
                          <figure class="image is-square">
                            <img src="https://staff.qut.edu.au/wp-content/uploads/avatars/826/d9db5a88352f929294a8dc72bb8e87ba-bpfull.jpg" alt="Placeholder image">
                          </figure>
                        </div>
                        <div class="card-content">
                          <div class="media">
                            <div class="media-left">
                            </div>
                            <div class="media-content">
                              <p class="title is-4">Associate Professor Jim Hogan</p>
                              <!-- p class="subtitle is-6">@johnsmith</p -->
                            </div>
                          </div>
                      
                          <div class="content">
                            Professor Hogan’s interest is in the application of machine learning methods to pattern discovery problems in bioinformatics, specifically the discovery of regulatory motifs in bacteria and resulting inference of regulatory networks and their properties.
                          </div>
                        </div>
                      </div>
                </div>
                <div class="column">
                    <div class="card">
                        <div class="card-image">
                          <figure class="image is-square">
                            <img src="https://staff.qut.edu.au/wp-content/uploads/avatars/139/540aee71c089bd8a9a6999ea66d10573-bpfull.jpg" alt="Placeholder image">
                          </figure>
                        </div>
                        <div class="card-content">
                          <div class="media">
                            <div class="media-content">
                              <p class="title is-4">Professor Colin Fidge</p>
                              <!--p class="subtitle is-6">@johnsmith</p -->
                            </div>
                          </div>
                      
                          <div class="content">
                            I am a Senior Lecturer within the School of Electrical Engineering and Computer Science (EECS), QUT, where I am a member of the Computer Human Interaction (CHI) discipline.
                          </div>
                        </div>
                      </div>
                </div>
              </div>
          </div>
      </section>
      
      <footer class="footer">
        <div class="content has-text-centered">
          <p>
            <strong>Augmented Sociality</strong> for <strong>Joel Harman</strong> by <a href="https://jgthms.com">Matrix Studio</a>
          </p>
        </div>
      </footer>
      
  </body>
</html>