<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home - Augmented Sociality</title>
    <link rel="stylesheet" href="styles/custom_styles.css">
    <link rel="stylesheet" href="styles/stylesheet.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/177f1bd199.js" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function() {

            // Check for click events on the navbar burger icon
            $(".navbar-burger").click(function() {

                // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                $(".navbar-burger").toggleClass("is-active");
                $(".navbar-menu").toggleClass("is-active");

            });
        });
    </script>
  </head>
  <body>
      <section class="section">
        <div class="container">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
              <a class="navbar-item" href="/">
                <img src="https://www.qut.edu.au/__data/assets/image/0007/909781/qut-logo-og-1200.jpg">
              </a>
          
              <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>
          
            <div id="navbarBasicExample" class="navbar-menu">
              <div class="navbar-start">
                <a class="navbar-item" href="/">
                  Home
                </a>
                <a class="navbar-item" href="/popular-projects">
                  Popular AR Technologies
                </a>
                <a class="navbar-item" href="/projects">
                  Projects
                </a>
                <a href="/news" class="navbar-item">
                    News
                </a>
                <!-- a href="/information" class="navbar-item">
                    Information
                </a -->
                <a href="/about-us" class="navbar-item">
                  About us
                </a>
                <a href="/contact-us" class="navbar-item">
                    Contact Us
                </a>
                
              </div>
          
              <div class="navbar-end">
                <div class="navbar-item">
                    <div class="field is-grouped">
                      <p class="control">
                        <a class="button-no-blue">
                          <span class="icon">
                            <i class="fab fa-twitter" aria-hidden="true"></i>
                          </span>
                        </a>
                      </p>
                      <p class="control">
                        <a class="button-no-blue">
                          <span class="icon">
                            <i class="fab fa-facebook-f" aria-hidden="true"></i>
                          </span>
                        </a>
                      </p>
                    </div>
                </div>
                <div class="navbar-item">
                  <% if (!session.loggedin) { %>
                    <div class="buttons">
                      <a class="button is-dark" href="/login">
                        <strong>Login</strong>
                      </a>
                    </div>
                  <% } else {%>
                    <p>Welcome back, <%= session.username %></p>
                  <% } %>
                </div>
              </div>
            </div>
          </nav>
          </div>
      </section>
      
      <div class="hero is-large is-black has-background">
        <img alt="Fill Murray" class="hero-background is-transparent" src="images/slide1.jpg" />
        <div class="hero-body">
          <div class="container">
            <h1 class="title is-1">
              Most Recognised Augmented Reality Technology
            </h1>
            <h3 class="subtitle is-5">
              QUT is a leading Australian University with a particular focus on science, engineering and technology.
            </h3>
            
          </div>
        </div>
      </div>

      <section class="section">
        <div class="container">
            <div class="tile is-ancestor">
                <div class="tile is-4 is-vertical is-parent">
                  <div class="tile is-child box">
                    <figure class="image is-square">
                        <img src="images/welcome.jpg">
                      </figure>
                  </div>
                  
                </div>
                <div class="tile is-parent is-vertical">
                  <div class="tile is-child box">
                      <p class="subtitle is-5">About the Augmented Reality</p>
                    <p class="title">Welcome to the Project of Augmented Reality</p>
                    <p>We have a funded research project that aims to developing new social uses for augmented reality. We seek to create new prototypes and raise awareness to new ways of using AR to support new forms of creativity, socialisation, and community. There will be much analysis and research work available too, as we need to explore what is currently available and compile initial reports to inform the design of the prototypes.</p>
                    
                  </div>
                </div>
                
              </div>
        </div>
      </section>

      <section class="hero is-link is-bold">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
              See The Potential of Augmented Reality
            </h1>
            <h2 class="subtitle">
              Explore how AR can impact every industry, and see how we've put it to great use.
            </h2>
            <a href="/projects" class="button is-dark is-medium">See How</a>
          </div>
        </div>
      </section>

      <section class="section">
        <div class="container">
        <div class="columns">
          <div class="column">
            <div class="card">
              <div class="card-image">
                <figure class="image is-3by2">
                  <img src="images/PokemonGo.jpg" alt="Pokemon Go Image Logo">
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <p class="title is-3" href="/popular-projects"><a href="/popular-projects#pokemon" class="button-no-blue">Pokémon GO</a></p>
                    <p class="subtitle is-5">Catch Pokémon in the Real World</p>
                  </div>
                </div>
            
                <div class="content">
                  Niantic is adding augmented reality features to Pokémon Go that should make the blending of animation and the real world seem more realistic. While Pokémon Go seems like a simple mobile game, it’s so popular and generates so much revenue that the company can invest heavily in AR technology.
                  <a href="#">#Pokémon GO </a> <a href="#">#AR+ </a>
                  <br>
                  <time datetime="2016-1-1">8:00 AM - 26 May 2020</time>
                </div>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="card">
              <div class="card-image">
                <figure class="image is-3by2">
                  <img src="images/WannaKicks.jpg" alt="Wanna Kicks Banner">
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <p class="title is-3"><a class="button-no-blue" href="/popular-projects#wannakicks">WannaKicks</a></p>
                    <p class="subtitle is-5">Wannaby, a startup out of Belarus that is building “AR commerce” experiences, has launched a beta of its latest app, which aims to make it easier to find the perfect sneakers.</p>
                  </div>
                </div>
            
                <div class="content">
                  Dubbed “Wanna Kicks,” the iOS app uses augmented reality to let you “try on” various pairs of sneakers. You simply choose a pair of kicks from the list of 3D models, point your camera at your feet and — bingo — you’re now virtually wearing your chosen footwear.
                  <a href="#">#Wannakicks</a>
                  <br>
                  <time datetime="2016-1-1">7:00 PM - 30 Jan 2019</time>
                </div>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="card">
              <div class="card-image">
                <figure class="image is-3by2">
                  <img src="images/Holo.jpg" alt="Hologram Image">
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <p class="title is-3"><a class="button-no-blue" href="/popular-projects#holo">Holo</a></p>
                    <p class="subtitle is-5">Holograms for Videos in Augmented Reality</p>
                  </div>
                </div>
            
                <div class="content">
                  The most exciting thing about Apple’s recent announcement of iOS 11 at WWDC, to me, was ARKit. The idea that augmented reality is going to be baked into the mobile operating system means all sorts of weird stuff is on the way this fall. If, like me, you’re anxious to play around with AR, but you also don’t want to burden your iPhone with a buggy developer beta version of iOS 11, a new app called Holo is almost good enough to scratch that itch. 
                  <a href="#">#holo</a>
                  <br>
                  <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </section>

      <!-- Newsletter Feature -->
      <section class="hero is-link">
        <div class="hero-body">
          <div class="container">
            <h2 class="title is-2 has-text-centered">Newsletter</h1>
                <form action="https://outlook.us2.list-manage.com/subscribe/post?u=f4714353be4ad550731941f94&amp;id=ec1f81f6f6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"target="_blank" novalidate>
                  <div class="field has-addons has-addons-centered">
                    <p class="control">
                      <input class="input is-medium" type="email" value="" name="EMAIL" placeholder="Email address" id="mce-EMAIL">
                    </p>
                    <p class="control">
                      <input class="button is-dark is-medium" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" type="submit">
                    </p>
                  </div>
                </form>
          </div>
        </div>
      </section>


      <footer class="footer">
        <div class="content has-text-centered">
          <p>
            <strong>Augmented Sociality</strong> for <strong>Joel Harman</strong> by <a href="https://jgthms.com">Matrix Studio</a>
          </p>
        </div>
      </footer>
      
  </body>
</html>