<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
<head>
	<meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

	<title>Home</title>

	<!-- Standard Favicon -->
	<link rel="icon" type="image/x-icon" href="assets/images//favicon.ico" />
	
	<!-- For iPhone 4 Retina display: -->
	<link rel="apple-touch-icon-precomposed" href="assets/images//apple-touch-icon-114x114-precomposed.png">
	
	<!-- For iPad: -->
	<link rel="apple-touch-icon-precomposed" href="assets/images//apple-touch-icon-72x72-precomposed.png">
	
	<!-- For iPhone: -->
	<link rel="apple-touch-icon-precomposed" href="assets/images//apple-touch-icon-57x57-precomposed.png">	
	
	<!-- Library - Google Font Familys -->	
	<link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet"> 
	
	<link rel="stylesheet" type="text/css" href="assets/revolution/css/settings.css">
	<link rel="stylesheet" type="text/css" href="assets/revolution/fonts/font-awesome/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="assets/revolution/fonts/font-awesome/css/font-awesome.min.css">
	
	<!-- RS5.0 Layers and Navigation Styles -->
	<link rel="stylesheet" type="text/css" href="assets/revolution/css/layers.css">
	<link rel="stylesheet" type="text/css" href="assets/revolution/css/navigation.css">
	
	<!-- Library Css -->
    <link href="assets/css/lib.css" rel="stylesheet">
	
	<!-- Custom - Common CSS -->
	<link href="assets/css/plugins.css" rel="stylesheet">
	<link href="assets/css/elements.css" rel="stylesheet">	
	<link href="assets/css/rtl.css" rel="stylesheet">	
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">
		
	<!--[if lt IE 9]>
		<script src="js/html5/respond.min.js"></script>
    <![endif]-->
	
</head>

<body data-offset="200" data-spy="scroll" data-target=".ownavigation">
	<div class="main-container">
		<!-- Loader -->
		<!-- <div id="site-loader" class="load-complete">
			<div class="loader">
				<div class="loader-inner ball-clip-rotate">
					<div></div>
				</div>
			</div>
		</div> --><!-- Loader /- -->	

		<!-- Header Section -->
		<header class="header_s header_s1">
			<!-- Container -->
			<div class="container">
				<div class="bg-block">
					<!-- SidePanel -->
					<div id="slidepanel">
						<!-- Top Header -->
						<div class="container-fluid no-right-padding no-left-padding top-header1">
							<div class="col-md-offset-3 col-md-9 col-sm-12 col-xs-12 top-block">
								<div class="col-md-6 col-sm-6 col-xs-12 welcome-line">
									<h6>Welcome to the Augmented Reality</h6>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<ul class="top-social">
										<li><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
										<li><a href="#" title="linkedin"><i class="fa fa-linkedin"></i></a></li>
									</ul>
								</div>
							</div>
						</div><!-- Top Header /- -->
					</div><!-- SidePanel /- -->
					
					<!-- Ownavigation -->
					<nav class="navbar ownavigation">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a class="navbar-brand" href="index.html"><img src="assets/images/qut_icon.jpg" alt="logo"></a>
						</div>
						<div class="analysis-btn">
							<a href="#" title="Free seo analysis">Quick look at the AR</a>
						</div>
						<div id="navbar" class="navbar-collapse collapse navbar-right">
							<ul class="nav navbar-nav">
								<li class="dropdown active">
									<a href="index.html" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Home</a>
									<i class="ddl-switch fa fa-angle-down"></i>
									<ul class="dropdown-menu">
										<li><a href="index.html" title="Home 1">Home 1</a></li>
										<li><a href="index2.html" title="Home 2">Home 2</a></li>
									</ul>
								</li>
								<li><a href="/projects" title="Projects">Projects</a></li>
								<li class="dropdown">
									<a href="/case-studies" class="dropdown-toggle" title="Casestudy" role="button" aria-haspopup="true" aria-expanded="false">Casestudy</a>
									<i class="ddl-switch fa fa-angle-down"></i>
									<!--<ul class="dropdown-menu">
										<li><a href="/case-studies-detail">Case Studies Detail</a></li>
									</ul>-->
								</li>
								<!-- <li><a href="#" title="Services">Services</a></li>				 -->
								<li><a href="/research" title="Research">Research</a></li>
								<li class="dropdown">
									<a href="/case-studies-detail" class="dropdown-toggle" title="Pages"  role="button" aria-haspopup="true" aria-expanded="false">Information</a>
									
								</li>
								<li><a href="/contact-us" title="Contact">Contact Us</a></li>
							</ul>
						</div>
						<div id="loginpanel" class="desktop-hide">
							<div class="right" id="toggle">
								<a id="slideit" href="#slidepanel"><i class="fo-icons fa fa-inbox"></i></a>
								<a id="closeit" href="#slidepanel"><i class="fo-icons fa fa-close"></i></a>
							</div>
						</div>
					</nav><!-- Ownavigation /- -->
				</div>
			</div><!-- Container /- -->
		</header><!-- Header Section /- -->	

		<main class="site-main">
			
			<!-- Slider Section 1 -->
			<div id="home-revslider" class="slider-section container-fluid no-padding">
				<!-- START REVOLUTION SLIDER 5.0 -->
				<div class="rev_slider_wrapper">
					<div id="home-slider1" class="rev_slider" data-version="5.0">
						<ul>
							<li>
								<img src="assets/images/slide1.jpg" alt="slider" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
								<div class="tp-caption tp-shape tp-shapewrapper" id="slide-layer-0"
									data-x="['center','center','center','center']" 
									data-y="['middle','middle','middle','middle']" 
									data-basealign="slide" 
									data-height="full" 
									data-hoffset="['0','0','0','0']" 
									data-responsive="off"
									data-responsive_offset="off" 
									data-start="0" 
									data-transform_idle="o:1;" 
									data-transform_in="opacity:0;s:2000;e:Power2.easeInOut;" 
									data-transform_out="opacity:0;s:500;s:500;" 
									data-voffset="['0','0','0','0']" 
									data-whitespace="nowrap" 
									data-width="full"
									style="z-index: 5;background-color:rgba(0, 0, 0, 0.65);">
								</div>
								<div class="tp-caption NotGeneric-Title tp-resizeme rs-parallaxlevel-0" id="slide-layer-1" 
									data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
									data-y="['top','top','top','top']" data-voffset="['370','272','150','60']" 
									data-fontsize="['44','40','32','26']"
									data-lineheight="['72','62','52','42']"
									data-width="none"
									data-height="none"
									data-whitespace="nowrap"
									data-transform_idle="o:1;"
									data-transform_in="x:[-105%];s:1000;e:Power4.slideInRight;" 
									data-transform_out="y:[100%];s:1000;s:1000;e:Power2.slideInRight;" 
									data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
									data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"  
									data-start="1000" 
									data-splitin="none" 
									data-splitout="none" 
									data-responsive_offset="on"
									data-elementdelay="0.05" 
									style="z-index: 5; white-space: nowrap; text-align: center; letter-spacing: 1.1px; color:#fff; font-weight: bold;  font-family: 'Raleway', sans-serif;">Most Recognized <span style="color: #ffb300">AR TECH</span> <br> And <span style="color: #ffb300">QUT School</span> of Computer Science
								</div>
								<div class="tp-caption NotGeneric-Title tp-resizeme rs-parallaxlevel-0" id="slide-layer-2" 
									data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
									data-y="['top','top','top','top']" data-voffset="['540','410','260','160']" 
									data-width="none"
									data-height="none"
									data-transform_idle="o:1;"
									data-transform_in="x:[0];s:1000;e:Power4.zoomIn;" 
									data-transform_out="y:[0];s:1000;s:1000;e:Power2.zoomIn;" 
									data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
									data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"  
									data-start="1000" 
									data-splitin="none" 
									data-splitout="none" 
									data-responsive_offset="on"
									data-elementdelay="0.05" 
									style="z-index: 5; white-space: nowrap;"><img src="assets/images/footer-widget-sep.png" alt="Sep" />
								</div>
								<div class="tp-caption NotGeneric-Title tp-resizeme rs-parallaxlevel-0" id="slide-layer-3" 
									data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
									data-y="['top','top','top','top']" data-voffset="['585','444','290','180']" 
									data-fontsize="['14','14','13','12']"
									data-lineheight="['24','24','24','24']"
									data-width="['690','690','690','400']"
									data-height="none"
									data-whitespace="normal"
									data-transform_idle="o:1;"
									data-transform_in="x:[105%];s:1000;e:Power4.slideInLeft;" 
									data-transform_out="y:[100%];s:1000;s:1000;e:Power2.slideInLeft;"
									data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
									data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
									data-start="1000" 
									data-splitin="none" 
									data-splitout="none" 
									data-responsive_offset="on"
									data-elementdelay="0.05" 
									style="z-index: 5; white-space: nowrap; text-align: center; font-weight: 400;font-family: 'Open Sans', sans-serif; letter-spacing: 0.6px; color:#ffffff;">Queensland University of Technology is a leading Australian university with a particular focus on Science, Engineering and Technology. 
								</div>
								<div class="tp-caption NotGeneric-Button rev-btn  rs-parallaxlevel-0" id="slide-layer-4" 
									data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
									data-y="['top','top','top','top']" data-voffset="['680','515','380','300']" 
									data-fontsize="['15','15','15','15']"
									data-lineheight="['30','30','30','30']"
									data-width="none"
									data-height="none"
									data-whitespace="nowrap"
									data-transform_idle="o:1;"
									data-transform_in="x:[105%];s:1000;e:Power4.slideInLeft;" 
									data-transform_out="y:[100%];s:1000;s:1000;e:Power2.slideInLeft;"
									data-style_hover="c:#fff;bg:#000;"
									data-start="3000" 
									data-splitin="none" 
									data-splitout="none" 
									data-actions='[{"event":"click","action":"scrollbelow","offset":"0px"}]'
									data-responsive_offset="on" 
									data-responsive="off"
									style="z-index: 10;padding:9px 35px 8px;border-radius: 0;border: none;border-left: 3px solid #000000; letter-spacing:0.75px; color: #fff; background-color: #0056b7; font-weight: 600; font-family: 'Open Sans', sans-serif; text-transform:uppercase; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">CONTACT US
								</div>
							</li>
							
							<li>
								<img src="assets/images/slide2.jpg" alt="slider" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
								<div class="tp-caption tp-shape tp-shapewrapper" id="slide-1-layer-0"
									data-x="['center','center','center','center']" 
									data-y="['middle','middle','middle','middle']" 
									data-basealign="slide" 
									data-height="full" 
									data-hoffset="['0','0','0','0']" 
									data-responsive="off" 
									data-responsive_offset="off" 
									data-start="0" 
									data-transform_idle="o:1;" 
									data-transform_in="opacity:0;s:2000;e:Power2.easeInOut;" 
									data-transform_out="opacity:0;s:500;s:500;" 
									data-voffset="['0','0','0','0']" 
									data-whitespace="nowrap" 
									data-width="full"
									style="z-index: 5;background-color:rgba(0, 0, 0, 0.65);">
								</div>
								<div class="tp-caption NotGeneric-Title tp-resizeme rs-parallaxlevel-0" id="slide-1-layer-1" 
									data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
									data-y="['top','top','top','top']" data-voffset="['370','272','150','60']" 
									data-fontsize="['44','40','32','26']"
									data-lineheight="['72','62','52','42']"
									data-width="none"
									data-height="none"
									data-whitespace="nowrap"
									data-transform_idle="o:1;"
									data-transform_in="x:[-105%];s:1000;e:Power4.slideInRight;" 
									data-transform_out="y:[100%];s:1000;s:1000;e:Power2.slideInRight;" 
									data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
									data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"  
									data-start="1000" 
									data-splitin="none" 
									data-splitout="none" 
									data-responsive_offset="on"
									data-elementdelay="0.05" 
									style="z-index: 5; white-space: nowrap; text-align: center; letter-spacing: 1.1px; color:#fff; font-weight: bold;  font-family: 'Raleway', sans-serif;">Most Recognized <span style="color: #ffb300">AR TECH</span> <br> And <span style="color: #ffb300">QUT School</span> of Computer Science
								</div>						
								<div class="tp-caption NotGeneric-Title tp-resizeme rs-parallaxlevel-0" id="slide-1-layer-2" 
									data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
									data-y="['top','top','top','top']" data-voffset="['540','410','260','160']" 
									data-width="none"
									data-height="none"
									data-transform_idle="o:1;"
									data-transform_in="x:[0];s:1000;e:Power4.zoomIn;" 
									data-transform_out="y:[0];s:1000;s:1000;e:Power2.zoomIn;" 
									data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
									data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"  
									data-start="1000" 
									data-splitin="none" 
									data-splitout="none" 
									data-responsive_offset="on"
									data-elementdelay="0.05" 
									style="z-index: 5; white-space: nowrap;"><img src="assets/images/footer-widget-sep.png" alt="Sep" />
								</div>
								
								<div class="tp-caption NotGeneric-Title tp-resizeme rs-parallaxlevel-0" id="slide-1-layer-3" 
									data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
									data-y="['top','top','top','top']" data-voffset="['585','444','290','180']" 
									data-fontsize="['14','14','13','12']"
									data-lineheight="['24','24','24','24']"
									data-width="['690','690','690','400']"
									data-height="none"
									data-whitespace="normal"
									data-transform_idle="o:1;"
									data-transform_in="x:[105%];s:1000;e:Power4.slideInLeft;" 
									data-transform_out="y:[100%];s:1000;s:1000;e:Power2.slideInLeft;"
									data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
									data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
									data-start="1000" 
									data-splitin="none" 
									data-splitout="none" 
									data-responsive_offset="on"
									data-elementdelay="0.05" 
									style="z-index: 5; white-space: nowrap; text-align: center; font-weight: 400;font-family: 'Open Sans', sans-serif; letter-spacing: 0.6px; color:#ffffff;">Queensland University of Technology is a leading Australian university with a particular focus on Science, Engineering and Technology. 
								</div>
								<div class="tp-caption NotGeneric-Button rev-btn  rs-parallaxlevel-0" id="slide-1-layer-4" 
									data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
									data-y="['top','top','top','top']" data-voffset="['680','515','380','300']" 
									data-fontsize="['15','15','15','15']"
									data-lineheight="['30','30','30','30']"
									data-width="none"
									data-height="none"
									data-whitespace="nowrap"
									data-transform_idle="o:1;"
									data-transform_in="x:[105%];s:1000;e:Power4.slideInLeft;" 
									data-transform_out="y:[100%];s:1000;s:1000;e:Power2.slideInLeft;"
									data-style_hover="c:#fff;bg:#000;"
									data-start="3000" 
									data-splitin="none" 
									data-splitout="none" 
									data-actions='[{"event":"click","action":"scrollbelow","offset":"0px"}]'
									data-responsive_offset="on" 
									data-responsive="off"
									style="z-index: 10;padding:9px 35px 8px;border-radius: 0;border: none;border-left: 3px solid #000000; letter-spacing:0.75px; color: #fff; background-color: #0056b7; font-weight: 600; font-family: 'Open Sans', sans-serif; text-transform:uppercase; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">CONTACT US
								</div>
							</li>
							<li>
								<img src="assets/images/slide3.jpg" alt="slider" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
								<div class="tp-caption tp-shape tp-shapewrapper" id="slide-2-layer-0"
									data-x="['center','center','center','center']" 
									data-y="['middle','middle','middle','middle']" 
									data-basealign="slide" 
									data-height="full" 
									data-hoffset="['0','0','0','0']" 
									data-responsive="off" 
									data-responsive_offset="off" 
									data-start="0" 
									data-transform_idle="o:1;" 
									data-transform_in="opacity:0;s:2000;e:Power2.easeInOut;" 
									data-transform_out="opacity:0;s:500;s:500;" 
									data-voffset="['0','0','0','0']" 
									data-whitespace="nowrap" 
									data-width="full"
									style="z-index: 5;background-color:rgba(0, 0, 0, 0.65);">
								</div>
								<div class="tp-caption NotGeneric-Title tp-resizeme rs-parallaxlevel-0" id="slide-2-layer-1" 
									data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
									data-y="['top','top','top','top']" data-voffset="['370','272','150','60']" 
									data-fontsize="['44','40','32','26']"
									data-lineheight="['72','62','52','42']"
									data-width="none"
									data-height="none"
									data-whitespace="nowrap"
									data-transform_idle="o:1;"
									data-transform_in="x:[-105%];s:1000;e:Power4.slideInRight;" 
									data-transform_out="y:[100%];s:1000;s:1000;e:Power2.slideInRight;" 
									data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
									data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"  
									data-start="1000" 
									data-splitin="none" 
									data-splitout="none" 
									data-responsive_offset="on"
									data-elementdelay="0.05" 
									style="z-index: 5; white-space: nowrap; text-align: center; letter-spacing: 1.1px; color:#fff; font-weight: bold;  font-family: 'Raleway', sans-serif;">Most Recognized <span style="color: #ffb300">AR TECH</span> <br> And  <span style="color: #ffb300">QUT School</span> of Computer Science
								</div>						
								<div class="tp-caption NotGeneric-Title tp-resizeme rs-parallaxlevel-0" id="slide-2-layer-2" 
									data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
									data-y="['top','top','top','top']" data-voffset="['540','410','260','160']" 
									data-width="none"
									data-height="none"
									data-transform_idle="o:1;"
									data-transform_in="x:[0];s:1000;e:Power4.zoomIn;" 
									data-transform_out="y:[0];s:1000;s:1000;e:Power2.zoomIn;" 
									data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
									data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"  
									data-start="1000" 
									data-splitin="none" 
									data-splitout="none" 
									data-responsive_offset="on"
									data-elementdelay="0.05" 
									style="z-index: 5; white-space: nowrap;"><img src="assets/images/footer-widget-sep.png" alt="Sep" />
								</div>
								
								<div class="tp-caption NotGeneric-Title tp-resizeme rs-parallaxlevel-0" id="slide-2-layer-3" 
									data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
									data-y="['top','top','top','top']" data-voffset="['585','444','290','180']" 
									data-fontsize="['14','14','13','12']"
									data-lineheight="['24','24','24','24']"
									data-width="['690','690','690','400']"
									data-height="none"
									data-whitespace="normal"
									data-transform_idle="o:1;"
									data-transform_in="x:[105%];s:1000;e:Power4.slideInLeft;" 
									data-transform_out="y:[100%];s:1000;s:1000;e:Power2.slideInLeft;"
									data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
									data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
									data-start="1000" 
									data-splitin="none" 
									data-splitout="none" 
									data-responsive_offset="on"
									data-elementdelay="0.05" 
									style="z-index: 5; white-space: nowrap; text-align: center; font-weight: 400;font-family: 'Open Sans', sans-serif; letter-spacing: 0.6px; color:#ffffff;">Queensland University of Technology is a leading Australian university with a particular focus on Science, Engineering and Technology. 
								</div>
								<div class="tp-caption NotGeneric-Button rev-btn  rs-parallaxlevel-0" id="slide-2-layer-4" 
									data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
									data-y="['top','top','top','top']" data-voffset="['680','515','380','300']" 
									data-fontsize="['15','15','15','15']"
									data-lineheight="['30','30','30','30']"
									data-width="none"
									data-height="none"
									data-whitespace="nowrap"
									data-transform_idle="o:1;"
									data-transform_in="x:[105%];s:1000;e:Power4.slideInLeft;" 
									data-transform_out="y:[100%];s:1000;s:1000;e:Power2.slideInLeft;"
									data-style_hover="c:#fff;bg:#000;"
									data-start="3000" 
									data-splitin="none" 
									data-splitout="none" 
									data-actions='[{"event":"click","action":"scrollbelow","offset":"0px"}]'
									data-responsive_offset="on" 
									data-responsive="off"
									style="z-index: 10;padding:9px 35px 8px;border-radius: 0;border: none;border-left: 3px solid #000000; letter-spacing:0.75px; color: #fff; background-color: #0056b7; font-weight: 600; font-family: 'Open Sans', sans-serif; text-transform:uppercase; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">CONTACT US
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div><!-- Slider Section 2 -->
			
			<div class="clearfix"></div>
			<!-- Welcome Section -->
			<div class="container-fluid no-left-padding no-right-padding welcome-section">
				<!-- Container -->
				<div class="container">
					<!-- Row -->
					<div class="row">
						<div class="col-md-5">
							<div class="img-block"><img src="assets/images/welcome.jpg" alt="Welcome" /></div>
						</div>
						<div class="col-md-7 welcome-content">
							<!-- Section Header -->
							<div class="section-header">
								<h6 style="color:#FFAF66">About the Augmented Reality</h6>
								<h3 style="color:white">WELCOME TO THE PROJECT OF AUGMENTED REALITY</h3>
							</div><!-- Section Header /- -->
							<div class="contain">
   								<p style="font-size:15px;color:white">We have a funded research project that aims to developing new social uses for augmented reality. We seek to create new prototypes and raise awareness to new ways of using AR to support new forms of creativity, socialisation, and community.  There will be much analysis and research work available too, as we need to explore what is currently available and compile initial reports to inform the design of the prototypes. </p>
					
							<!--<p>I have always wanted to have a neighbor just like you. I've always wanted to live in a neighborhood with you. Makin their way the only way they know how. That's just a little bit more than the law will allow. All of them had hair of gold like their mother the youngest one in curls. The movie star the professor and Mary Ann here on Gilligans Isle., Well the first thing you know ol' Jeds a millionaire.</p>--></div>
							<div class="row">
								<div class="col-md-6 col-sm-6">
									<div class="welcome-box">
										<i class="icon icon-ChartUp"></i>
										<h4 style="color:white">HIGH analytics</h4>
										<p style="color:white">We're gonna do it. On your mark get set and go now a dream and we just....</p>
									</div>
								</div>
								<div class="col-md-6 col-sm-6">
									<div class="welcome-box">
										<i class="icon_search-2"></i>
										<h4 style="color:white">DATABASE search</h4>
										<p style="color:white">We're gonna do it. On your mark get set and go now. dream and we just....</p>
									</div>
								</div>
							</div>
						</div>
					</div><!-- Row /- -->
				</div><!-- Container /- -->
			</div><!-- Welcome Section /- -->
			<div class="tlinks">Collect from <a href="http://www.cssmoban.com/" >企业网站模板</a></div>
			<div class="clearfix"></div>
			<!-- How We Do It -->
			<div class="container-fluid no-left-padding no-right-padding how-we-section">
				<!-- Container -->
				<div class="container">
					<!-- Section Header -->
					<div class="section-header text-center">
						<h6>Augmented Sociality Working Process</h6>
						<h3>HOW WE DO IT</h3>
					</div><!-- Section Header /- -->
					<!-- Row -->
					<div class="row text-center">
						<div class="col-md-3 col-sm-6 col-xs-6 how-we-box">
							<i class="icon icon-Key"></i>
							<h5>SEARCHING KEYWORDS</h5>
							<p>Since we're together The Brady Bunch the Brady Bunch that's the way we all became the Brady.</p>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-6 how-we-box">
							<i class="icon icon-ChemicalGlass"></i>
							<h5>SITE OPTIMIZATION</h5>
							<p>Since we're together The Brady Bunch the Brady Bunch that's the way we all became the Brady.</p>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-6 how-we-box">
							<i class="icon icon-Anchor"></i>
							<h5>LINK SOFTWARE</h5>
							<p>Since we're together The Brady Bunch the Brady Bunch that's the way we all became the Brady.</p>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-6 how-we-box">
							<i class="icon icon-ChartUp"></i>
							<h5>SEO ANALYSIS</h5>
							<p>Since we're together The Brady Bunch the Brady Bunch that's the way we all became the Brady.</p>
						</div>
					</div><!-- Row /- -->
				</div><!-- Container /- -->
			</div><!-- How We Do It /- -->
		<!-- 	<div class="clearfix"></div>
			<!-- Pricing Section -->
			<!--<div class="container-fluid no-left-padding no-right-padding pricing-section">
				<!-- Container -->
			<!--	<div class="container">
					<!-- Section Header -->
			<!--		<div class="section-header text-center">
			<!--			<h6>Our Service Packages</h6>
						<h3>PRICING PLAN</h3>
					</div><!-- Section Header /- -->
					<!-- Row -->
			<!--		<div class="row">
					
						<!-- Price Table -->
			<!--			<div class="col-md-4 col-sm-6 col-xs-6 price-table">
							<div class="pricing-box">
								<h4>STANDARD</h4>
								<h3><span>$</span>145<sub>/ Month</sub></h3>
								<ul>
									<li><i class="fa fa-check"></i> 2 GB Hosting</li>
									<li><i class="fa fa-check"></i> 1 Personal Website</li>
									<li><i class="fa fa-check"></i> 5 GB Bandwidth</li>
									<li><i class="fa fa-close"></i> 100 Sub Domains</li>
									<li><i class="fa fa-close"></i> 10 Email Address</li>
								</ul>
								<a href="#" title="SELECT PLAN">SELECT PLAN</a>
							</div>
						</div><!-- Price Table /- -->
						
						<!-- Price Table -->
			<!--			<div class="col-md-4 col-sm-6 col-xs-6 price-table">
							<div class="pricing-box">						
								<h4>PREMIUM</h4>
								<h3><span>$</span>265<sub>/ Month</sub></h3>
								<ul>
									<li><i class="fa fa-check"></i> 2 GB Hosting</li>
									<li><i class="fa fa-check"></i> 1 Personal Website</li>
									<li><i class="fa fa-check"></i> 5 GB Bandwidth</li>
									<li><i class="fa fa-close"></i> 100 Sub Domains</li>
									<li><i class="fa fa-check"></i> 10 Email Address</li>
								</ul>
								<a href="#" title="Select plan">SELECT PLAN</a>
							</div>
						</div><!-- Price Table /- -->
						
						<!-- Price Table -->
			<!--			<div class="col-md-4 col-sm-6 col-xs-6 price-table">
							<div class="pricing-box">								
								<h4>POPULAR</h4>
								<h3><span>$</span>475<sub>/ Month</sub></h3>
								<ul>
									<li><i class="fa fa-check"></i> 2 GB Hosting</li>
									<li><i class="fa fa-check"></i> 1 Personal Website</li>
									<li><i class="fa fa-check"></i> 5 GB Bandwidth</li>
									<li><i class="fa fa-check"></i> 100 Sub Domains</li>
									<li><i class="fa fa-check"></i> 10 Email Address</li>	
								</ul>
								<a href="#" title="Select plan">SELECT PLAN</a>
							</div>
						</div><!-- Price Table /- -->
						
			<!--		</div><!-- Row -->
			<!--	</div><!-- Container /- -->
			<!--</div><!-- Pricing Section /- -->
		<!--	<div class="clearfix"></div>
			<!-- Callout Section -->
			<div class="container-fluid no-left-padding no-right-padding callout-section">
				<!-- container -->
				<div class="container">					
					<!-- Row -->
					<div class="row">
						<div class="col-md-7 col-sm-6 col-xs-6 callout-content">
							<h2>See The Potential of <span>Augmented Reality</span></h2>
							<p>Explore how AR can impact every industry, and see how we've put it to great use.</p>
							<a href="#" title="CONTACT US">EXPLORE</a>
						</div>
						<div class="col-md-5 col-sm-6 col-xs-6">
							<img src="assets/images/callout.png" alt="Callout" />
						</div>
					</div><!-- Row /- -->
				</div><!-- container /- -->
			</div><!-- Callout Section /- -->
			<div class="clearfix"></div>
			<!-- Case Studio Section -->
			<div class="container-fluid no-left-padding no-right-padding case-sudion-section">
				<!-- Container -->
				<div class="container">
					<!-- Section Header -->
					<div class="section-header text-center">
						<h6>Recent Case Studio’s</h6>
						<h3 style="color:white">CASE STUDIO</h3>
					</div><!-- Section Header /- -->
					<!-- Row -->
					<div class="row">
						<div class="col-md-4 col-sm-6 col-xs-6">
							<div class="case-studio-box">
								<img src="assets/images/case-studio1.jpg" alt="Studio" />
								<div class="studio-detail">
									<h4>Natural Products Website</h4>
									<p>Come and knock on our door. We've been waiting for you.</p>
									<a href="#" title="View detail">VIEW DETAIL</a>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 col-xs-6">
							<div class="case-studio-box">
								<img src="assets/images/case-studio2.jpg" alt="Studio" />
								<div class="studio-detail">
									<h4>Natural Products Website</h4>
									<p>Come and knock on our door. We've been waiting for you.</p>
									<a href="#" title="View detail">VIEW DETAIL</a>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 col-xs-6">
							<div class="case-studio-box">
								<img src="assets/images/case-studio3.jpg" alt="Studio" />
								<div class="studio-detail">
									<h4>Natural Products Website</h4>
									<p>Come and knock on our door. We've been waiting for you.</p>
									<a href="#" title="View detail">VIEW DETAIL</a>
								</div>
							</div>
						</div>
					</div><!-- Row /- -->
				</div><!-- Container /- -->
			</div><!-- Case Studio Section /- -->
			<div class="clearfix"></div>
			<!-- Skill Section -->
			<div class="container-fluid no-left-padding no-right-padding skill-section">
				<!-- Container -->
				<div class="container">
					<!-- Section Header -->
					<div class="section-header text-center">
						<h6>We Build Professional Services</h6>
						<h3>OUR SKILLS</h3>
					</div><!-- Section Header /- -->
					<!-- Row -->
					<div class="row">
						<div class="col-md-7 col-sm-6 col-xs-12">
							<div id="skill_type-1" class="skill-block">
								<div class="skill-progress-box">
									<h3 class="block-title">SEARCH ENGINE OPTIMIZATION</h3>
									<div class="progress-box">
										<span data-skill_percent="77" id="skill_1_count-1"></span>
										<div class="progress">
											<div class="progress-bar progress-bar-danger" role="progressbar" id="skill_bar_1_count-1"></div>
										</div>
									</div>
								</div>
								<div class="skill-progress-box">
									<h3 class="block-title">ONLINE REPUTATION MANAGEMENT</h3>
									<div class="progress-box">
										<span data-skill_percent="90" id="skill_1_count-2"></span>
										<div class="progress">
											<div class="progress-bar progress-bar-danger" role="progressbar" id="skill_bar_1_count-2"></div>
										</div>
									</div>
								</div>
								<div class="skill-progress-box">
									<h3 class="block-title">CONVERSION RATE OPTIMIZATION</h3>
									<div class="progress-box">
										<span data-skill_percent="80" id="skill_1_count-3"></span>
										<div class="progress">
											<div class="progress-bar progress-bar-danger" role="progressbar" id="skill_bar_1_count-3"></div>
										</div>
									</div>
								</div>
								<div class="skill-progress-box">
									<h3 class="block-title">DIGITAL MARKETING</h3>
									<div class="progress-box">
										<span data-skill_percent="87" id="skill_1_count-4"></span>
										<div class="progress">
											<div class="progress-bar progress-bar-danger" role="progressbar" id="skill_bar_1_count-4"></div>
										</div>
									</div>
								</div>
								<div class="skill-progress-box">
									<h3 class="block-title">SOCIAL MEDIA MARKETING</h3>
									<div class="progress-box">
										<span data-skill_percent="95" id="skill_1_count-5"></span>
										<div class="progress">
											<div class="progress-bar progress-bar-danger" role="progressbar" id="skill_bar_1_count-5"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-5 col-sm-6 col-xs-12 video-block">
							<div class="video-box">
								<img src="assets/images/111.jpg" alt="Video" />
								<a class="popup-youtube" href="YouTube.html" target="_blank"><i class="icon icon-Play"></i></a>
							</div>
						</div>
					</div><!-- Row /- -->
				</div><!-- Container /- -->
			</div><!-- Skill Section /- -->
			<div class="clearfix"></div>
			<!-- Partner Section -->
			<!--<div class="container-fluid no-left-padding no-right-padding partner-section">
				<!-- Container -->
			<!--	<div class="container">
					<!-- Section Header -->
			<!--		<div class="section-header text-center">
						<h6>Our Trusted Clients</h6>
						<h3>TRUSTED PARTNERS</h3>
					</div><!-- Section Header /- -->
		<!--			<div class="row">
						<div class="col-md-4 col-sm-4 col-xs-6 partner-box">
							<a href="#"><img src="assets/images/partner1.png" alt="Partner" /></a>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-6 partner-box">
							<a href="#"><img src="assets/images/partner2.png" alt="Partner" /></a>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-6 partner-box">
							<a href="#"><img src="assets/images/partner3.png" alt="Partner" /></a>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-6 partner-box">
							<a href="#"><img src="assets/images/partner4.png" alt="Partner" /></a>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-6 partner-box">
							<a href="#"><img src="assets/images/partner5.png" alt="Partner" /></a>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-6 partner-box">
							<a href="#"><img src="assets/images/partner6.png" alt="Partner" /></a>
						</div>
					</div>
		<!--		</div><!-- Container /- -->
		<!--	</div><!-- Partner Section /- -->
		<!--	<div class="clearfix"></div>
			<!-- App Section -->
			<div class="container-fluid no-left-padding no-right-padding app-section">
				<!-- Container -->
				<div class="container">
					<!-- Row -->
					<div class="row">
						<div class="col-md-7 col-sm-6 col-xs-6 app-content">
							<h2>Augmented Sociality <span>App on Your Mobile!</span></h2>
							<p>The most popular and fashion mobile application with augmented sociality. Start to enjoy the future technology now!</p>
							<ul class="row">
								<li class="col-md-6">24/7 Support</li>
								<li class="col-md-6">Marketing Support</li>
								<li class="col-md-6">Track Your Process</li>
								<li class="col-md-6">Search Engine</li>
							</ul>
							<a href="Apple.html"><img src="assets/images/app-btn.png" alt="Apple" /></a>
							<a href="Google.html"><img src="assets/images/gplay-btn.png" alt="Google play" /></a>
						</div>
						<div class="col-md-5 col-sm-6 col-xs-6">
							<img src="assets/images/app-img.png" alt="Application" />
						</div>
					</div><!-- Row /- -->
				</div><!-- Container /- -->
			</div><!-- App Section /- -->
			<div class="clearfix"></div>
			<!-- Testimonial Section -->
			<div class="container-fluid no-left-padding no-right-padding testimonial-section">
				<!-- Container -->
				<div class="container">
					<div class="col-md-offset-2 col-md-9">
						<div id="testimonial-carousel" class="carousel slide" data-ride="carousel">
							<!-- Wrapper for slides -->
							<div class="carousel-inner" role="listbox">
								<div class="item active">
									<i><img src="assets/images/testi11.jpg" alt="Testimonial"></i>
									<h3 style="color:white">Yunchao Wang <span>Project Manager & Web Administrator & Team Leader</span></h3>
									<p style="color:white">The main manager of the team and project.</p>
								</div>
								<div class="item">
									<i><img src="assets/images/testi12.jpg" alt="Testimonial"></i>
									<h3 style="color:white">Yaodong Lu <span>Project Researcher & Web Administrator</span></h3>
									<p style="color:white">The main researcher and editor of the project.</p>
								</div>
								<div class="item">
									<i><img src="assets/images/testi13.jpg" alt="Testimonial"></i>
									<h3 style="color:white">Taige Zhou <span>Website Designer & Web Administrator</span></h3>
									<p style="color:white">The main website Designer</p>
							                </div>
								<div class="item">
									<i><img src="assets/images/testi14.jpg" alt="Testimonial"></i>
									<h3 style="color:white">Oskar Sherrah <span>Programmer & Web Administrator</span></h3>
									<p style="color:white">The main programmer of the website.</p>
							                </div>
							</div>
							
							<!-- Indicators -->
							<ol class="carousel-indicators">
								<li data-target="#testimonial-carousel" data-slide-to="0" class="active"></li>
								<li data-target="#testimonial-carousel" data-slide-to="1"></li>
								<li data-target="#testimonial-carousel" data-slide-to="2"></li>
								<li data-target="#testimonial-carousel" data-slide-to="3"></li>
							</ol>
						</div>
					</div>
				</div><!-- Container /- -->
			</div><!-- Testimonial Section /- -->
			<div class="clearfix"></div>
			<div class="padding-60"></div>
		
		</main>
			
		<!-- Footer Main -->
		<footer id="footer-main" class="footer-main footer-main-1 container-fluid no-left-padding no-right-padding">
			<!-- Container -->
			<div class="container">
				<!-- Row -->
				<div class="row">
					<!-- Widget About -->
					<div class="col-md-4 col-sm-6 col-xs-6">
						<aside class="widget widget_about">
							<h3 class="widget-title">About Us</h3>
							<p>We have a funded research project that aims to developing new social uses for  augmented reality. We seek to create new prototypes and raise awareness to  new ways of using AR to support new forms of creativity, socialisation, and  community.  </p>
						</aside>
						<div class="social-copy-widget">
							<ul class="footer-social">
								<li><a href="#" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="#" title="Twiiter"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
								<li><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
							</ul>
							<div class="copyright">
								<p>Copyright &copy; 2020. Matrix Studio All rights reserved.</p>
							</div>
						</div>
					</div><!-- Widget About /- -->
					<!-- Widget Links -->
					<div class="col-md-4 col-sm-6 col-xs-6">
						<aside class="widget widget_links">
							<h3 class="widget-title">Quick Links</h3>
							<ul>
								<li><a href="#" title="Case Studies">PROJECT</a></li>
								<li><a href="#" title="Services">CASESTUDY</a></li>
								<li><a href="#" title="About Us">RECENT RESEARCH</a></li>
								<li><a href="#" title="Pricing Table">INFOMATION</a></li>
								
								<li><a href="#" title="Marketing">CONTACT US</a></li>
								<li><a href="#" title="SEO Analysis">Have a look at AR</a></li>
								<li><a href="#" title="Mobile Application">Mobile Application</a></li>
							</ul>
						</aside>
					</div><!-- Widget Links /- -->
					<!-- Widget Newsletter -->
					<div class="col-md-4 col-sm-12 col-xs-12">
						<div class="row">
							<div class="col-md-12 col-sm-6 col-xs-6">
								<aside class="widget widget_everywhere">
									<h3 class="widget-title">We are Everywhere</h3>
									<div class="cnt-detail">
										<p><i class="icon icon-Phone2"></i><a href="tel:+011234567890">(+01) 123 456 7890</a></p>
										<p><i class="icon icon-Mail"></i><a href="mailto:729224330@qq.com">729224330@qq.com</a></p>
									</div>
								</aside>
							</div>
							<div class="col-md-12 col-sm-6 col-xs-6">
								<aside class="widget widget_newsletter">
									<h3 class="widget-title">Our NewsLetter</h3>
									<form>
										<input type="text" required="" placeholder="Enter Your Email..." class="form-control">
										<input type="submit" title="SUBSCRIBE" value="SUBSCRIBE">	
									</form>
								</aside>
							</div>
						</div>
					</div><!-- Widget Newsletter /- -->
				</div><!-- Row /- -->
			</div><!-- Container /- -->
		</footer><!-- Footer Main /- -->
	
	</div>
	
	<!-- JQuery v1.12.4 -->
	<script src="assets/js/jquery-1.12.4.min.js"></script>

	<!-- Library - Js -->
	<script src="assets/js/lib.js"></script>
	
	<!-- RS5.0 Core JS Files -->
	<script type="text/javascript" src="assets/revolution/js/jquery.themepunch.tools.min.js?rev=5.0"></script>
	<script type="text/javascript" src="assets/revolution/js/jquery.themepunch.revolution.min.js?rev=5.0"></script>
	<script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.video.min.js"></script>
	<script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
	<script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
	<script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
	<script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.actions.min.js"></script>
	
	<!-- Library - Theme JS -->
	<script src="assets/js/functions.js"></script>
	
</body>
</html>
