<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>News - Augmented Sociality</title>
    <link rel="stylesheet" href="styles/custom_styles.css" />
    <link rel="stylesheet" href="styles/stylesheet.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://kit.fontawesome.com/177f1bd199.js"
      crossorigin="anonymous"
    ></script>
    <script>
      $(document).ready(function () {
        // Check for click events on the navbar burger icon
        $(".navbar-burger").click(function () {
          // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
          $(".navbar-burger").toggleClass("is-active");
          $(".navbar-menu").toggleClass("is-active");
        });
      });
    </script>
  </head>

  <body>
    <section class="section">
      <div class="container">
        <nav class="navbar" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
            <a class="navbar-item" href="/">
              <img
                src="https://www.qut.edu.au/__data/assets/image/0007/909781/qut-logo-og-1200.jpg"
              />
            </a>

            <a
              role="button"
              class="navbar-burger burger"
              aria-label="menu"
              aria-expanded="false"
              data-target="navbarBasicExample"
            >
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>

          <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
              <a class="navbar-item" href="/"> Home </a>
              <a class="navbar-item" href="/popular-projects">
                Popular AR Technologies
              </a>
              <a class="navbar-item" href="/projects"> Projects </a>
              <a href="/news" class="navbar-item"> News </a>
              <!-- a href="/information" class="navbar-item">
                    Information
                </a -->
              <a href="/about-us" class="navbar-item"> About us </a>
              <a href="/contact-us" class="navbar-item"> Contact Us </a>
            </div>

            <div class="navbar-end">
              <div class="navbar-item">
                <div class="field is-grouped">
                  <p class="control">
                    <a class="button-no-blue">
                      <span class="icon">
                        <i class="fab fa-twitter" aria-hidden="true"></i>
                      </span>
                    </a>
                  </p>
                  <p class="control">
                    <a class="button-no-blue">
                      <span class="icon">
                        <i class="fab fa-facebook-f" aria-hidden="true"></i>
                      </span>
                    </a>
                  </p>
                </div>
              </div>
              <div class="navbar-item">
                <% if (!session.loggedin) { %>
                <div class="buttons">
                  <a class="button is-dark" href="/login">
                    <strong>Login</strong>
                  </a>
                </div>
                <% } else {%>
                <p>Welcome back, <%= session.username %></p>
                <% } %>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </section>
    <section class="hero is-bold is-link">
      <div class="hero-body">
        <div class="container">
          <h1 class="title has-text-centered">News</h1>
          <h2 class="subtitle has-text-centered">
            Information about Argument Reality
          </h2>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
          <div class="columns">
              <div class="column">
                <div class="card">
                    <div class="card-image">
                      <figure class="image is-3by2">
                        <img
                          src="https://images.unsplash.com/photo-1517137879134-48acfbe3be13?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2089&q=80"
                          alt="Placeholder image"
                        />
                      </figure>
                    </div>
                    <div class="card-content">
                      <div class="media">
                        <div class="media-content">
                          <p class="title is-4" href="">
                            <a
                              class="button-no-blue"
                              href="https://www.itwire.com/entertainment/telstra-adds-augmented-reality-to-official-afp-app.html"
                              >Telstra adds augmented reality to official AFL app</a
                            >
                          </p>
                          <p class="subtitle is-6">
                            By
                            <a href="https://www.itwire.com/journalist/sam-varghese.html"
                              >Sam Varghese</a
                            >
                          </p>
                        </div>
                      </div>
          
                      <div class="content">
                        Telstra has updated the official AFL app with augmented reality
                        features that the telco says will "give users a totally immersive
                        way to view and interact with each club’s line-up for the coming
                        round".
                      </div>
                    </div>
                  </div>
              </div>
              <div class="column">
                <div class="card">
                    <div class="card-image">
                      <figure class="image is-3by2">
                        <img
                          src="https://images.unsplash.com/photo-1586771107445-d3ca888129ff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1504&q=80"
                          alt="Placeholder image"
                        />
                      </figure>
                    </div>
                    <div class="card-content">
                      <div class="media">
                        <div class="media-content">
                          <p class="title is-4" href="">
                            <a
                              class="button-no-blue"
                              href="https://arpost.co/2020/08/17/augmented-reality-streamlines-agriculture/"
                              >How Augmented Reality Technology Streamlines Agriculture</a
                            >
                          </p>
                          <p class="subtitle is-6">
                            By
                            <a href="https://www.itwire.com/journalist/sam-varghese.html"
                              >Alexey Chalimov</a
                            >
                          </p>
                        </div>
                      </div>
          
                      <div class="content">
                        The rise of smart farming is a sure indicator that agriculture is
                        swiftly adopting cutting edge tech. The new smart farming
                        technology is driven to a large extent by robotics, automation,
                        data analytics, and IoT.
                      </div>
                    </div>
                  </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-image">
                      <figure class="image is-3by2">
                        <img
                          src="https://images.unsplash.com/photo-1588623358844-fd118c056dfc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80"
                          alt="Placeholder image"
                        />
                      </figure>
                    </div>
                    <div class="card-content">
                      <div class="media">
                        <div class="media-content">
                          <p class="title is-4" href="">
                            <a
                              class="button-no-blue"
                              href="https://news.microsoft.com/en-nz/2020/09/07/nursing-students-learn-new-skills-with-a-dose-of-augmented-reality/"
                              >Nursing Students Learn New Skills with a Dose of Augmented
                              Reality</a
                            >
                          </p>
                          <p class="subtitle is-6">
                            By
                            <a href="https://www.itwire.com/journalist/sam-varghese.html"
                              >Bob Glancy</a
                            >
                          </p>
                        </div>
                      </div>
          
                      <div class="content">
                        Mention viruses in the same breath as digital technology and your
                        first thought is probably hackers – not headsets. But at one New
                        Zealand institute, nursing students are combating a different kind
                        of virus, using Microsoft HoloLens to learn how to treat COVID-19.
                      </div>
                    </div>
                  </div>
            </div>
          </div>
      </div>
      <div class="container">
        <div class="columns">
            <div class="column">
                <div class="card">
                    <div class="card-image">
                      <figure class="image is-4by3">
                        <img
                          src="https://s1.ax1x.com/2020/09/05/wV073F.jpg"
                          alt="Placeholder image"
                        />
                      </figure>
                    </div>
                    <div class="card-content">
                      <div class="content">
                        Augmented reality technology saw its record growth in 2019.
                        Industry players in the augmented reality world expect 2020 to be
                        a year marked by an uptick in the pace of industry growth.
                        <a href="#">#AR</a> <a href="#">#Trade</a>
                        <br />
                        <a
                          href="https://mobidev.biz/blog/augmented-reality-future-trends-2018-2020"
                          >View</a
                        >
                        <!--                <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>-->
                      </div>
                    </div>
                  </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-image">
                      <figure class="image is-4by3">
                        <img
                          src="https://arpost.co/wp-content/uploads/2020/06/Shoes-That-Fit-Without-Trying-Them-On-%E2%80%94-Thanks-to-Augmented-Reality-Online-Shopping-Will-Never-Be-the-Same-364x225.jpg"
                          alt="Placeholder image"
                        />
                      </figure>
                    </div>
                    <div class="card-content">
                      <div class="content">
                        Shoes That Fit Without Trying Them On— Thanks to Augmented Reality
                        Online Shopping Will Never Be the Same
                        <a href="#">#AR</a> <a href="#">#Shopping</a> <br />
                        <a
                          href="https://arpost.co/2020/06/26/shoes-fit-augmented-reality-online-shopping/"
                          >View</a
                        >
                      </div>
                    </div>
                  </div>
          </div>
          <div class="column">
            <div class="card">
                <div class="card-image">
                  <figure class="image is-4by3">
                    <img
                      src="https://arpost.co/wp-content/uploads/2020/08/The-Walking-Dead-Onslaught-Is-Coming-to-Virtual-Reality-in-September-2020-364x225.jpg"
                      alt="Placeholder image"
                    />
                  </figure>
                </div>
                <div class="card-content">
                  <div class="content">
                    The Walking Dead Onslaught is making its way to virtual reality on
                    September 29, 2020, Survios and AMC revealed in the latest
                    gameplay trailer.
                    <a href="#">#AR</a> <a href="#">#WalkingDead</a><br />
                    <a
                      href="https://arpost.co/2020/08/21/the-walking-dead-onslaught-virtual-reality/"
                      >View</a
                    >
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="columns">
            <div class="column">
                <div class="card">
                    <div class="card-image">
                      <figure class="image is-4by3">
                        <img
                          src="https://s1.ax1x.com/2020/09/05/wV073F.jpg"
                          alt="Placeholder image"
                        />
                      </figure>
                    </div>
                    <div class="card-content">
                      <div class="content">
                        Augmented reality technology saw its record growth in 2019.
                        Industry players in the augmented reality world expect 2020 to be
                        a year marked by an uptick in the pace of industry growth.
                        <a href="#">#AR</a> <a href="#">#Trade</a>
                        <br />
                        <a
                          href="https://mobidev.biz/blog/augmented-reality-future-trends-2018-2020"
                          >View</a
                        >
                        <!--                <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>-->
                      </div>
                    </div>
                  </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-image">
                      <figure class="image is-4by3">
                        <img
                          src="https://arpost.co/wp-content/uploads/2020/06/Shoes-That-Fit-Without-Trying-Them-On-%E2%80%94-Thanks-to-Augmented-Reality-Online-Shopping-Will-Never-Be-the-Same-364x225.jpg"
                          alt="Placeholder image"
                        />
                      </figure>
                    </div>
                    <div class="card-content">
                      <div class="content">
                        Shoes That Fit Without Trying Them On— Thanks to Augmented Reality
                        Online Shopping Will Never Be the Same
                        <a href="#">#AR</a> <a href="#">#Shopping</a> <br />
                        <a
                          href="https://arpost.co/2020/06/26/shoes-fit-augmented-reality-online-shopping/"
                          >View</a
                        >
                      </div>
                    </div>
                  </div>
          </div>
          <div class="column">
            <div class="card">
                <div class="card-image">
                  <figure class="image is-4by3">
                    <img
                      src="https://arpost.co/wp-content/uploads/2020/08/The-Walking-Dead-Onslaught-Is-Coming-to-Virtual-Reality-in-September-2020-364x225.jpg"
                      alt="Placeholder image"
                    />
                  </figure>
                </div>
                <div class="card-content">
                  <div class="content">
                    The Walking Dead Onslaught is making its way to virtual reality on
                    September 29, 2020, Survios and AMC revealed in the latest
                    gameplay trailer.
                    <a href="#">#AR</a> <a href="#">#WalkingDead</a><br />
                    <a
                      href="https://arpost.co/2020/08/21/the-walking-dead-onslaught-virtual-reality/"
                      >View</a
                    >
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>Augmented Sociality</strong> for
          <strong>Joel Harman</strong> by
          <a href="https://jgthms.com">Matrix Studio</a>
        </p>
      </div>
    </footer>
  </body>
</html>
