<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Projects - Augmented Sociality</title>
    <link rel="stylesheet" href="styles/custom_styles.css">
    <link rel="stylesheet" href="styles/stylesheet.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/177f1bd199.js" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function() {

            // Check for click events on the navbar burger icon
            $(".navbar-burger").click(function() {

                // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                $(".navbar-burger").toggleClass("is-active");
                $(".navbar-menu").toggleClass("is-active");

            });
        });
    </script>
  </head>
  <body>
      <!-- Navbar -->
      <section class="section">
        <div class="container">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
              <a class="navbar-item" href="/">
                <img src="https://www.qut.edu.au/__data/assets/image/0007/909781/qut-logo-og-1200.jpg">
              </a>
          
              <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>
          
            <div id="navbarBasicExample" class="navbar-menu">
              <div class="navbar-start">
                <a class="navbar-item" href="/">
                  Home
                </a>
                <a class="navbar-item" href="/popular-projects">
                  Popular AR Technologies
                </a>
                <a class="navbar-item" href="/projects">
                  Projects
                </a>
                <a href="/news" class="navbar-item">
                    News
                </a>
                <!-- a href="/information" class="navbar-item">
                    Information
                </a -->
                <a href="/about-us" class="navbar-item">
                  About us
                </a>
                <a href="/contact-us" class="navbar-item">
                    Contact Us
                </a>
                
              </div>
          
              <div class="navbar-end">
                <div class="navbar-item">
                    <div class="field is-grouped">
                      <p class="control">
                        <a class="button-no-blue">
                          <span class="icon">
                            <i class="fab fa-twitter" aria-hidden="true"></i>
                          </span>
                        </a>
                      </p>
                      <p class="control">
                        <a class="button-no-blue">
                          <span class="icon">
                            <i class="fab fa-facebook-f" aria-hidden="true"></i>
                          </span>
                        </a>
                      </p>
                    </div>
                </div>
                <div class="navbar-item">
                  <% if (!session.loggedin) { %>
                    <div class="buttons">
                      <a class="button is-dark" href="/login">
                        <strong>Login</strong>
                      </a>
                    </div>
                  <% } else {%>
                    <p>Welcome back, <%= session.username %></p>
                  <% } %>
                </div>
              </div>
            </div>
          </nav>
          </div>
      </section>
      
      <section class="hero is-link is-bold">
        <div class="hero-body">
          <div class="container">
            <h1 class="title has-text-centered">
              Projects
            </h1>
            <h2 class="subtitle has-text-centered">
              Our Latest Work
            </h2>
          </div>
        </div>
      </section>

      <section class="section">
        <div class="container">
            <h1 class="title is-1">Title of Project</h1>
            <h3 class="subtitle is-3">Subtitle of Project</h3>
            <h5 class="subtitle is-5">Author(s) of Project</h5>
            <br>
            <div class="columns">
                <div class="column is-two-thirds">
                    <p class="has-text-justified">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vitae justo neque. Nam vitae dolor vel mi gravida blandit semper sed enim. Suspendisse lacinia libero nulla, ut lacinia justo pellentesque in. Suspendisse ut nunc tempor, ornare massa a, accumsan est. Nam nec aliquet est. Vivamus finibus dapibus nibh at gravida. Praesent vulputate massa eget ante sollicitudin, vel condimentum mauris porttitor. Cras ornare, nulla ut interdum malesuada, lorem turpis sollicitudin felis, sit amet aliquet ante ipsum eu massa. In et porta tortor. Suspendisse convallis erat sit amet arcu consectetur, sit amet porta diam fermentum. Nullam tempus rhoncus bibendum. Duis sodales vestibulum lacinia.

                        Maecenas mollis, risus in vehicula dictum, libero ex pulvinar turpis, gravida hendrerit mauris dui ut mauris. Etiam efficitur massa ut ipsum dignissim dictum. Nulla nec nibh odio. Suspendisse eget suscipit ante. Nullam maximus finibus aliquam. Morbi consequat faucibus dolor, nec cursus ligula porttitor in. Etiam nisl arcu, blandit vitae efficitur ut, gravida sed velit. Vestibulum nec nisi sem. Maecenas ac nisi venenatis, semper risus sed, condimentum magna. Vestibulum vestibulum nisi sed arcu rhoncus venenatis. Cras ornare scelerisque ante, id dictum lacus accumsan eu.
                        
                        Curabitur aliquam erat orci, id laoreet mauris dapibus eu. Maecenas id iaculis risus. Integer vulputate nunc hendrerit, condimentum enim faucibus, viverra est. Vestibulum lectus mi, tincidunt ut tincidunt a, ornare id ligula. Praesent laoreet turpis orci, nec ultricies justo porta in. Aliquam risus lorem, egestas finibus enim porttitor, tincidunt gravida lacus. Suspendisse et magna non dui lobortis maximus non ut urna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras sagittis ullamcorper augue id pulvinar. Sed imperdiet nisl in molestie fringilla. Phasellus volutpat augue et ex vehicula fringilla. Mauris accumsan ac elit eget dapibus. Praesent ullamcorper, sapien eu tempor dapibus, nunc ligula dictum est, vel dapibus dui eros quis leo. Nullam blandit sapien eu nibh dapibus, eget eleifend lorem molestie.
                        
                        Aenean nec imperdiet mauris, at condimentum purus. Morbi lectus quam, accumsan ut justo et, pellentesque faucibus est. Aliquam id consectetur sem, et viverra turpis. Curabitur luctus eros ipsum, a suscipit orci bibendum quis. Curabitur quis eleifend velit. Sed viverra neque sed libero ullamcorper fringilla. Donec eu egestas massa. Praesent sed blandit mauris, a commodo eros. Aliquam in sem vitae lectus ultrices suscipit a et libero. Aenean a magna dictum, pellentesque urna a, interdum mi. Donec id aliquet nisl. Duis fermentum ipsum ex, condimentum eleifend nibh tempus a. Fusce in imperdiet enim, eu congue enim. Proin vitae dolor erat. Nulla vel elementum turpis.
                        
                        Sed nec ornare risus, non vestibulum ipsum. Sed feugiat, est eu semper laoreet, augue urna tincidunt velit, et tincidunt quam massa vitae mi. Duis fringilla odio eget nibh congue accumsan. Praesent elit libero, dictum vitae enim a, ultricies ornare neque. Donec euismod eu nunc ac fringilla. Duis rhoncus dui et purus ultrices, vel iaculis risus laoreet. In sed dui turpis. Ut dignissim vitae ipsum eu consectetur. Morbi suscipit erat a turpis blandit, vel condimentum risus scelerisque. Morbi posuere lacus ac felis fermentum elementum. Nulla urna ligula, porta elementum dolor non, ullamcorper sollicitudin quam. Praesent arcu lorem, aliquet sed pretium vitae, mattis et augue. Curabitur ultricies ultricies ante, nec viverra elit cursus vel. Cras enim mi, porta ac elit nec, tempor volutpat lectus.</p>
                </div>
                <div class="column">
                    <figure class="image is-3by2">
                        <img src="https://images.unsplash.com/photo-1518770660439-4636190af475?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80">
                    </figure>
                    <br>
                    <figure class="image is-3by2">
                        <img src="https://images.unsplash.com/photo-1461749280684-dccba630e2f6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80">
                    </figure>
                </div>
            </div>
        </div>
      </section>

      <footer class="footer">
        <div class="content has-text-centered">
          <p>
            <strong>Augmented Sociality</strong> for <strong>Joel Harman</strong> by <a href="https://jgthms.com">Matrix Studio</a>
          </p>
        </div>
      </footer>
      
  </body>
</html>