<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
<head>
	<meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

	<title>Research</title>

	<!-- Standard Favicon -->
	<link rel="icon" type="image/x-icon" href="assets/images//favicon.ico" />
	
	<!-- For iPhone 4 Retina display: -->
	<link rel="apple-touch-icon-precomposed" href="assets/images//apple-touch-icon-114x114-precomposed.png">
	
	<!-- For iPad: -->
	<link rel="apple-touch-icon-precomposed" href="assets/images//apple-touch-icon-72x72-precomposed.png">
	
	<!-- For iPhone: -->
	<link rel="apple-touch-icon-precomposed" href="assets/images//apple-touch-icon-57x57-precomposed.png">	
	
	<!-- Library - Google Font Familys -->	
	<link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
	
	<!-- Library Css -->
    <link href="assets/css/lib.css" rel="stylesheet">
	
	<!-- Custom - Common CSS -->
	<link href="assets/css/plugins.css" rel="stylesheet">
	<link href="assets/css/elements.css" rel="stylesheet">	
	<link href="assets/css/rtl.css" rel="stylesheet">	
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">
		
	<!--[if lt IE 9]>
		<script src="js/html5/respond.min.js"></script>
    <![endif]-->
	
</head>

<body data-offset="200" data-spy="scroll" data-target=".ownavigation">
	<div class="main-container">
		<!-- Loader -->
		<div id="site-loader" class="load-complete">
			<div class="loader">
				<div class="loader-inner ball-clip-rotate">
					<div></div>
				</div>
			</div>
		</div><!-- Loader /- -->
		
		<header class="header_s header_s2">
			<!-- SidePanel -->
			<div id="slidepanel">
				<!-- Top Header -->
				<div class="container-fluid no-left-padding no-right-padding top-header">
					<!-- Container -->
					<div class="container">
						<div class="row">
							<div class="col-md-6 col-sm-6 col-xs-12 welcome-line">
								<h6>Welcome to the Augmented Reality</h6>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12 block-cnt">
								<ul class="top-social">
									<li><a href="#" title="Twitter"><i class="fa fa-pinterest-p"></i></a></li>
									<li><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
									<li><a href="#" title="linkedin"><i class="fa fa-linkedin"></i></a></li>
								</ul>
								<a href="#" title="Free Seo Analysis">Have A Quick Look</a>
							</div>
						</div>
					</div><!-- Container /- -->
				</div><!-- Top Header /- -->
				<!-- Middle Header -->
				<div class="container-fluid no-left-padding no-right-padding middle-header">
					<!-- Container -->
					<div class="container">
						<div class="row">
							<div class="col-md-offset-2 col-md-10">
								<span><i class="icon icon-Phone2"></i><a style="color:white" href="tel:+011234567890">(+01) 123 456 7890</a></span>
								<span><i class="icon icon-Mail"></i><a style="color:white" href="mailto:info@maxseo.com">info@maxseo.com</a></span>
								<div class="search-block">
									<div class="input-group">
										<input type="text" class="form-control" placeholder="Search for...">
										<span class="input-group-btn">
											<button class="btn btn-default" type="button"><i class="icon icon-Search"></i></button>
										</span>
									</div><!-- /input-group -->
								</div>
							</div>
						</div>
					</div><!-- Container /- -->
				</div><!-- Middle Header /- -->
			</div><!-- SidePanel /- -->
			
			<!-- Ownavigation -->
			<nav class="navbar ownavigation">
				<!-- Container -->
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="index.html"><img src="assets/images/qut_icon.jpg" alt="logo"></a>
					</div>
					<div class="menu-switch">	
						<a href="javascript:void(0);" title="menu"><i class="fa fa-bars"></i></a>
					</div>
					<div id="navbar" class="navbar-collapse collapse navbar-right">
						<ul class="nav navbar-nav">
							<li class="dropdown">
								<a href="/" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Home</a>
								<i class="ddl-switch fa fa-angle-down"></i>
								<ul class="dropdown-menu">
									<li><a href="/" title="Home 1">Home 1</a></li>
									<li><a href="index2.html" title="Home 2">Home 2</a></li>
								</ul>
							</li>
							<li><a href="/projects" title="About Us">Projects</a></li>
							<li class="dropdown">
								<a href="/case-studies" class="dropdown-toggle" title="Casestudy" role="button" aria-haspopup="true" aria-expanded="false">Casestudy</a>
								<i class="ddl-switch fa fa-angle-down"></i>
								<ul class="dropdown-menu">
									<li><a href="/case-studies-detail">Case Studies Detail</a></li>
								</ul>
							</li>
							<li class="active"><a href="/research" title="Research">Research</a></li>								
							<li><a href="/case-studies-detail" title="Information">Information</a></li>
							<!--li class="dropdown">
								<a href="#" class="dropdown-toggle" title="Pages" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages</a>
								<i class="ddl-switch fa fa-angle-down"></i>
								<ul class="dropdown-menu">
									<li><a href="blog.html">Blog</a></li>
									<li><a href="blog-single.html">Blog Post</a></li>
									<li><a href="free-quote.html">Free Quote</a></li>
									<li><a href="404.html">404</a></li>
								</ul>
							</li-->
							<li><a href="/contact-us" title="Contact">Contact</a></li>
						</ul>
					</div>
					<div id="loginpanel" class="desktop-hide">
						<div class="right" id="toggle">
							<a id="slideit" href="#slidepanel"><i class="fo-icons fa fa-inbox"></i></a>
							<a id="closeit" href="#slidepanel"><i class="fo-icons fa fa-close"></i></a>
						</div>
					</div>
				</div><!-- Container /- -->
			</nav><!-- Ownavigation /- -->
		</header>
			
		<!-- Page Header -->
		<div class="container-header no-left-padding no-right-padding page-banner text-center">
			<!-- Container -->
			<div class="container">
				<h3>Research</h3>
				<p>View our latest studies and developments</p>
			</div><!-- Container /- -->
		</div><!-- Page Header /- -->
		<div class="clearfix"></div>
		
		<main>
		
			<!-- About Section -->
			<div class="container-fluid no-left-padding no-right-padding about-section abtp-mp-change">
				<!-- Container -->
				<div class="container">
					<!-- Row -->
					<div class="row">
						<div class="col-md-7 col-sm-6 col-xs-12">
							<!-- Section Header -->
							<div class="section-header text-left">
								<h6 style="color:antiquewhite">Use In Home Design</h6>
								<h3 style="color:white">AR In Architecture</h3>
							</div><!-- Section Header /- -->
							<div class="about-content">
								<p style="color:white">Everyone knows virtual reality, but have you considered how augmented reality in construction and architecture could help your firm?
									Augmented reality (AR) is a live, copied view of a physical, real-world environment whose elements are augmented (or supplemented) by computer-generated sensory input. Virtual reality replaces the real world with a simulated one whereas augmented reality takes the real world and adds to it with—in the case of architecture—a 3D model of your design.
									With the help of advanced augmented-reality technology such as computer vision and object recognition, the information about the surrounding real world of the user becomes interactive and able to be digitally manipulated. In augmented reality, computer software must derive real-world coordinates, independent from the camera or from camera images.
									</p>
							</div>
							<!-- div class="row feature-content">
								<div class="col-md-4 col-sm-6 col-xs-4">
									<div class="feature-box">
										<i class="icon icon-Users"></i>
										<h4>EXPERIENCED STAFF</h4>
										<p>We're gonna do it. On your mark get set and go now a dream and we just....</p>
									</div>
								</div>
								<div class="col-md-4 col-sm-6 col-xs-4">
									<div class="feature-box">
										<i class="icon icon-ChartUp"></i>
										<h4>HIGH ANALYTICS</h4>
										<p>We're gonna do it. On your mark get set and go now a dream and we just....</p>
									</div>
								</div>
								<div class="col-md-4 col-sm-6 col-xs-4">
									<div class="feature-box">
										<i class="icon_search-2"></i>
										<h4>DATABASE SEARCH</h4>
										<p>We're gonna do it. On your mark get set and go now a dream and we just....</p>
									</div>
								</div>
							</div -->
						</div>
						<div class="col-md-5 col-sm-6 col-xs-12">
							<div class="img-block"><img src="https://images.unsplash.com/photo-1533310266094-8898a03807dd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="About" /></div>
						</div>
					</div><!-- Row /- -->
					<div class="row">
						<div class="col-md-5 col-sm-6 col-xs-12">
							<div class="img-block"><img src="https://images.unsplash.com/photo-1554474051-0256b98c36f8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt=""></div>
							
						</div>
						<div class="col-md-7 col-sm-6 col-xs-12">
							<div class="section-header text-left">
								<h6 style="color:antiquewhite">In The Public</h6>
								<h3 style="color:white">Augmented Information in Reality</h3>
							</div>
							<div class="about-content">
								<p style="color: white">Augmented reality in construction and architecture projects involves placing a 3D model of a proposed design onto an existing space using mobile devices and 3D models. AR has been used in video gaming and media entertainment for a much longer period of time to show a real image interacting with one created from computer graphics. Its utilization matured in the architecture and construction industries when contractors such as Seattle’s BNBuilders began using it to show clients proposed designs in the context of existing conditions using Apple iPads and other mobile devices on a construction site.</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-7 col-sm-6 col-xs-12">
							<!-- Section Header -->
							<div class="section-header text-left">
								<h6 style="color:antiquewhite">Reality: Augmented</h6>
								<h3 style="color:white">Data In The Real World</h3>
							</div><!-- Section Header /- -->
							<div class="about-content">
								<p style="color:white">Seeing an Autodesk Revit or other 3D model in context greatly assists in space planning and design visualization. AR was confined mostly to architecture, engineering, and construction firms with large technology groups that could spend hours integrating Revit models with homemade 3D-game-engine models, but the technology has now been democratized and is available on a per-project basis, so small firms and even sole proprietors can take advantage of it.
									</p>
							</div>
							<!-- div class="row feature-content">
								<div class="col-md-4 col-sm-6 col-xs-4">
									<div class="feature-box">
										<i class="icon icon-Users"></i>
										<h4>EXPERIENCED STAFF</h4>
										<p>We're gonna do it. On your mark get set and go now a dream and we just....</p>
									</div>
								</div>
								<div class="col-md-4 col-sm-6 col-xs-4">
									<div class="feature-box">
										<i class="icon icon-ChartUp"></i>
										<h4>HIGH ANALYTICS</h4>
										<p>We're gonna do it. On your mark get set and go now a dream and we just....</p>
									</div>
								</div>
								<div class="col-md-4 col-sm-6 col-xs-4">
									<div class="feature-box">
										<i class="icon_search-2"></i>
										<h4>DATABASE SEARCH</h4>
										<p>We're gonna do it. On your mark get set and go now a dream and we just....</p>
									</div>
								</div>
							</div -->
						</div>
						<div class="col-md-5 col-sm-6 col-xs-12">
							<div class="img-block"><img src="https://images.unsplash.com/photo-1515524738708-327f6b0037a7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="About" /></div>
						</div>
					</div><!-- Row /- -->
					<br>
					<div class="row">
						<div class="col-md-5 col-sm-6 col-xs-12">
							<div class="img-block"><img src="https://images.unsplash.com/photo-1454789548928-9efd52dc4031?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80" alt=""></div>
							
						</div>
						<div class="col-md-7 col-sm-6 col-xs-12">
							<div class="section-header text-left">
								<h6 style="color:antiquewhite">Now In Space</h6>
								<h3 style="color:white">Helping Astronauts Traverse The Stars</h3>
							</div>
							<div class="about-content">
								<p style="color: white">SmartReality from JBknowledge, a technology company previously known for bringing subcontractors and jobs together, is a mobile AR app available on a per-project basis. It can place a 3D model in context, viewable on an iOS or Android device, whether on a 2D set of plans, in front of an actual site, or even on an image of your project’s site. Users focus on a given design or plan file with the camera on their mobile device; the app then recognizes the design, and the screen overlays a virtual model of what the project will look like upon completion. Anyone can see a Revit model in context (Revit drawings have to be imported into a different format to be recognized), in a full, 360-degree view.</p>
							</div>
						</div>
					</div>
				</div><!-- Container /- -->
			</div><!-- About Section -->
			<div class="clearfix"></div>
			
			<!-- Query Section -->
			<div class="container-fluid no-left-padding no-right-padding query-section">
				<!-- Container -->
				<div class="container">
					<div class="col-md-6 col-sm-6 text-center">
						<h4>have a question?</h4>
					</div>
					<div class="col-md-6 col-sm-6 text-center">
						<h4><a href="contactus.html" title="CONTACT US NOW">CONTACT US NOW</a></h4>
					</div>
				</div><!-- Container /- -->
			</div><!-- Query Section /- -->
		</main>

		<!-- Footer Main -->
		<footer id="footer-main" class="footer-main footer-main-1 container-fluid no-left-padding no-right-padding">
			<!-- Container -->
			<div class="container">
				<!-- Row -->
				<div class="row">
					<!-- Widget About -->
					<div class="col-md-4 col-sm-6 col-xs-6">
						<aside class="widget widget_about">
							<h3 class="widget-title">About Us</h3>
							<p>Just two good ol' boys Wouldn't change if they could. Fightin' the system like a true modern day Robin Hood. Space. The final frontier. These are the voyages of the Starship Enterprise. Just two good ol' boys.</p>
						</aside>
						<div class="social-copy-widget">
							<ul class="footer-social">
								<li><a href="#" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="#" title="Twiiter"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
								<li><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
							</ul>
							<div class="copyright">
								<p>Copyright &copy; 2017.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
							</div>
						</div>
					</div><!-- Widget About /- -->
					<!-- Widget Links -->
					<div class="col-md-4 col-sm-6 col-xs-6">
						<aside class="widget widget_links">
							<h3 class="widget-title">Quick Links</h3>
							<ul>
								<li><a href="#" title="Case Studies">Case Studies</a></li>
								<li><a href="#" title="Services">Services</a></li>
								<li><a href="#" title="About Us">About Us</a></li>
								<li><a href="#" title="Pricing Table">Pricing Table</a></li>
								<li><a href="#" title="Blog">Blog</a></li>
								<li><a href="#" title="Marketing">Marketing</a></li>
								<li><a href="#" title="SEO Analysis">SEO Analysis</a></li>
								<li><a href="#" title="Mobile Application">Mobile Application</a></li>
							</ul>
						</aside>
					</div><!-- Widget Links /- -->
					<!-- Widget Newsletter -->
					<div class="col-md-4 col-sm-12 col-xs-12">
						<div class="row">
							<div class="col-md-12 col-sm-6 col-xs-6">
								<aside class="widget widget_everywhere">
									<h3 class="widget-title">We are Everywhere</h3>
									<div class="cnt-detail">
										<p><i class="icon icon-Phone2"></i><a href="tel:+011234567890">(+01) 123 456 7890</a></p>
										<p><i class="icon icon-Mail"></i><a href="mailto:info@maxseo.com">info@maxseo.com</a></p>
									</div>
								</aside>
							</div>
							<div class="col-md-12 col-sm-6 col-xs-6">
								<aside class="widget widget_newsletter">
									<h3 class="widget-title">Our NewsLetter</h3>
									<form>
										<input type="text" required="" placeholder="Enter Your Email..." class="form-control">
										<input type="submit" title="SUBSCRIBE" value="SUBSCRIBE">	
									</form>
								</aside>
							</div>
						</div>
					</div><!-- Widget Newsletter /- -->
				</div><!-- Row /- -->
			</div><!-- Container /- -->
		</footer><!-- Footer Main /- -->

	</div>
	
	<!-- JQuery v1.12.4 -->
	<script src="assets/js/jquery-1.12.4.min.js"></script>

	<!-- Library - Js -->
	<script src="assets/js/lib.js"></script>
	
	<!-- Library - Theme JS -->
	<script src="assets/js/functions.js"></script>
	
</body>
</html>
